@import "./normalize.css";
@import "./variables.css";

body {
  font-family: Helvetica;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--ebony-clay);
}

nav {
  height: 60px;
  width: 100%;
  background-image: linear-gradient(135deg, var(--venice-blue) 0%, var(--catalina-blue) 100%);
  box-shadow: 0 3px 10px -8px rgba(0,0,0,0.24);
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center; 

  & .content {
    color: var(--polo-blue);
    width: var(--default-width);

    & a {
      margin-right: 30px;
      position: relative;
    }
    & :last-child {
      margin-right: 0;
    }

    & .checked {
      color: var(--pattens-blue);
      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 3px;
        top: 36px;
        left: calc(50% - 10px);
        border-radius: 1.5px;
        background-color: var(--hawkes-blue);
      }
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  position: relative;
  bottom: 0px;
  height: 84px;
  width: 100%;
  background-color: var(--ebony-clay-light);
  font-size: 16px;
  color: var(--slate-gray);
  letter-spacing: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center; 

  & .content {
    width: var(--default-width);
    display: flex;
    justify-content: space-between; 
    & a {
      margin-right: 30px;
    }
    & :last-child {
      margin-right: 0;
    } 
  }

  & .links-container {
    display: inline-block;
  }

  & .description .author-link {
    color: #3491F8;
  }
}

.header {
  color: var(--alto);
  &_wrapper {
    width: var(--default-width);
    height: 75px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }
  button {
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 0;
    cursor: pointer;
  }
  &_rightside {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  &_messages-button {
    background: url('../img/message.svg') no-repeat center;
  }
  &_notifications-button {
    background: url('../img/notification.svg') no-repeat center;
  }
  &_grid-button {
    background: url('../img/grid.svg') no-repeat center;
  }
  &_menu-toggle-button {
    background: url('../img/menu.svg') no-repeat center;
  }
  &_profile {
    cursor: pointer;
  }
}
