@import-normalize;
@import "./variables.css";

a {
  text-decoration: none;
  color: inherit;
}

.body {
  font-family: Helvetica;
  position: relative;
  color: var(--blue-haze);
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--ebony-clay);
}

.navigation {
  height: 60px;
  width: 100%;
  background-image: linear-gradient(135deg, var(--venice-blue) 0%, var(--catalina-blue) 100%);
  box-shadow: 0 3px 10px -8px rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  &__content {
    color: var(--polo-blue);
    width: var(--default-width);

    & :last-child {
      margin-right: 0;
    }
  }

  &__link {
    margin-right: 30px;
    position: relative;
    transition: all .2s ease-out;

    &--checked,
    &:hover {
      color: var(--pattens-blue);

      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 3px;
        top: 36px;
        left: calc(50% - 10px);
        border-radius: 1.5px;
        background-color: var(--hawkes-blue);
      }
    }
  }
}

.header {
  color: var(--alto);

  &__wrapper {
    width: var(--default-width);
    height: 75px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

  &__rightside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
  }

  &__leftside {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 0;
    cursor: pointer;

    &--message {
      background: url('../img/message.svg') no-repeat center;
    }

    &--notification {
      background: url('../img/notification.svg') no-repeat center;
    }

    &--grid {
      background: url('../img/grid.svg') no-repeat center;
    }

    &--menu-toggle {
      background: url('../img/menu.svg') no-repeat center;
      margin-left: 60px;
    }
  }

  &__profile {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0;
    background: transparent none;
    color: var(--alto);
    font-size: 16px;
    font-family: Helvetica, sans-serif;

    &--title {
      padding: 0 10px 0 5px;
    }

    &--arrow {
      font-size: 20px;
      width: 12px;
      height: 6px;
      display: inline-block;
      position: relative;
      margin: 0 3px;

      &:after,
      &:before {
        content: '';
        top: 3px;
        position: absolute;
        width: 7px;
        height: 1px;
        background-color: var(--gallery);
        display: inline-block;
        transition: all .2s ease;
      }

      &:after {
        left: 0;
        transform: rotate(45deg);
      }

      &:before {
        right: 0;
        transform: rotate(-45deg);
      }
    }

    &:hover &--arrow {
      &:after {
        left: 0;
        transform: rotate(-45deg);
      }

      &:before {
        right: 0;
        transform: rotate(45deg);
      }
    }
  }
}

.footer {
  position: relative;
  bottom: 0px;
  height: 84px;
  width: 100%;
  background-color: var(--ebony-clay-light);
  font-size: 16px;
  color: var(--slate-gray);
  letter-spacing: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  &__content {
    width: var(--default-width);
    display: flex;
    justify-content: space-between;

    & :last-child {
      margin-right: 0;
    }
  }

  &__link {
    margin-right: 30px;
    transition: all .2s ease-out;

    &:hover {
      color: var(--pattens-blue);
    }
  }

  &__links-container {
    display: inline-block;
  }

  &__author-link {
    color: #3491F8;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }
}

.page-title {
  height: 66px;
  width: var(--default-width);
  margin: 48px auto 36px;
  border-bottom: 1px solid rgba(66, 75, 95, 0.38);

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-size: 24px;
    color: var(--gull-gray);
    letter-spacing: 0;
    font-weight: 400;
    margin: 0;
  }

  &__subtitle {
    font-size: 12px;
    color: var(--slate-gray);
    letter-spacing: 0;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
  }

  & .breadcrumbs {
    margin: 29px 0 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    font-size: 16px;
    color: var(--gull-gray);
    letter-spacing: 0;
    text-align: right;
    font-weight: 100;

    &__item {
      a:hover {
        color: var(--alto);
      }
    }
  }
}

.small-widgets {
  margin: 36px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: var(--default-width);
  column-gap: 28px;

  &__item {
    height: 102px;
    background-color: var(--ebony-clay-light);
    color: var(--gull-gray);
    letter-spacing: 0;
    box-sizing: border-box;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
    flex-flow: column;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.50);
    border-radius: 4px;
    transition: all .3s ease-out .1s;
    position: relative;

    &::after {
      background: var(--ebony-clay-light) url('../img/loader.gif') no-repeat center center;
      width: 100%;
      height: 100%;
      display: none;
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      transition: all .5s ease-out;
      opacity: 0;
    }
    &--loading::after {
      display: block;
      transition: all .5s ease-in;
      opacity: 1;
    }

    &:hover {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.60);
      transition: all .3s ease-in;
    }

    &&--arrows {
      background-image: url('../img/widget_arrows.png');
    }

    &&--repair {
      background-image: url('../img/widget_repair.png');
    }

    &&--clock {
      background-image: url('../img/widget_clock.png');
    }

    &&--dollar {
      background-image: url('../img/widget_dollar.png');
    }
  }

  &__title {
    font-size: 14px;
    display: block;
    text-transform: uppercase;
  }

  &__value {
    font-size: 26px;
    /* 28px */
    color: var(--blue-haze);
    line-height: 26px;
    /* 28px */
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
  }

  &__badge {
    font-size: 14px;
    /* 16px */
    color: var(--white);
    line-height: 16px;
    padding: 4px 10px;
    display: inline-block;
    font-weight: 200;
    border-radius: 11.5px;
    vertical-align: middle;

    &&--positive {
      background-color: var(--lima);
    }

    &&--negative {
      background-color: var(--red-orange);
    }
  }

  &__progressbar {
    width: 152px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--botticelli);
    display: inline-block;
    position: relative;
    vertical-align: bottom;

    &--progress {
      display: inline-block;
      position: absolute;
      content: '';
      background-color: var(--dodger-blue);
      width: 0;
      height: 8px;
      border-radius: 4px;
      transition: 0.5s all linear;
    }
  }
}

.projection {
  margin: 36px auto;
  width: var(--default-width);
  box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.50);
  background-color: var(--ebony-clay-light);
  height: 449px;

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.60);
    transition: all .3s ease-in;
  }

  &__image {
    margin: 0 24px 32px 25px;
  }
}

.medium-widgets {
  display: grid;
  width: var(--default-width);
  margin: 36px auto;
  grid-template-columns: 360px 457px 263px 263px;
  grid-template-rows: 129px 193px;
  grid-auto-flow: row;
  column-gap: 30px;
  row-gap: 36px;

  &__block {
    background-color: var(--ebony-clay-light);
    box-sizing: border-box;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.50);
    border-radius: 4px;
    transition: all .3s ease-out .1s;
    color: var(--gull-gray);
    letter-spacing: 0;
    padding: 24px;
    display: flex;
    align-items: baseline;
    flex-direction: column;

    &:hover {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.60);
      transition: all .3s ease-in;
    }
  }

  &__balance {
    grid-column: 1;
    grid-row: 1 / 3;

    &--sum {
      font-size: 48px;
      color: var(--dodger-blue);
      letter-spacing: 0;
      margin: 12px auto 36px auto;
    }

    &--stats {
      text-align: center;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: baseline;
      flex-flow: row;
      margin-bottom: 26px;
    }

    &--column {
      font-size: 16px;
      color: var(--gull-gray);
      letter-spacing: 0;
      padding: 11px 0;
      font-weight: 200;

      &:first-child {
        border-right: 1px solid var(--river-bed);
      }
    }

    &--stat {
      display: inline-block;
      font-size: 24px;
      color: var(--blue-haze);
      margin-top: 24px;
    }

    &--dynamic {
      background-image: linear-gradient(135deg, var(--lima) 0%, #48AF1B 100%);
      border-radius: 19px;
      font-size: 18px;
      /* 20px */
      color: var(--white);
      letter-spacing: 0;
      line-height: 18px;
      padding: 9px 12px 9px 12px;
      align-self: center;
    }
  }

  &__visitors {
    grid-column: 2;
    grid-row: 1 / 3;
  }

  &__banner {
    grid-column: 3;
  }
}

.large-widgets {
  display: grid;
  width: var(--default-width);
  margin: 36px auto;
  grid-template-columns: 653px 457px 457px;
  grid-template-rows: 392px 149px;
  grid-auto-flow: row;
  column-gap: 30px;
  row-gap: 36px;

  &__block {
    background-color: var(--ebony-clay-light);
    box-sizing: border-box;
    padding: 24px;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.50);
    border-radius: 4px;
    transition: all .3s ease-out .1s;

    &:hover {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.60);
      transition: all .3s ease-in;
    }
  }

  &__data-centers {
    position: relative;
    grid-column: 1;
    grid-row: 1 / 3;

    &__image {
      position: absolute;
      left: 55px;
    }
  }

  &__latest-commits {
    grid-column: 2;
  }

  &__aot {
    grid-column: 2;
    background-color: transparent;
    background-image: linear-gradient(135deg, #1D74A3 0%, #3491F8 100%);
  }

  &__title {
    width: 100%;
    font-weight: 200;
    font-size: 20px;
    color: var(--white);
    margin-bottom: 13px;
  }

  &__data {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    width: 50%;
    position: relative;

    &:first-child {
      padding-right: 57px;

      &:after {
        content: '✦';
        font-family: ZapfDingbatsITC;
        font-size: 24px;
        color: var(--astral);
        position: absolute;
        right: 17px;
        top: calc(50% - 12px);
      }
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      margin-bottom: 14px;
    }

    &--label {
      text-transform: uppercase;
      font-size: 15px;
      /* 16px */
      color: var(--transparent-gray);
    }

    &--value {
      font-size: 22px;
      /* 24px */
    }

    &&--read &--value,
    &&--download &--value {
      color: var(--cyan);
    }

    &&--write &--value {
      color: var(--lime);
    }

    &&--upload &--value {
      color: var(--rose-bud);
    }
  }
}

.latest-projects {
  &__wrapper {
    width: var(--default-width);
    margin: 36px auto;
    background-color: var(--ebony-clay-light);
    box-sizing: border-box;
    padding: 24px;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.50);
    border-radius: 4px;
    transition: all .3s ease-out .1s;

    &:hover {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.60);
      transition: all .3s ease-in;
    }
  }

  &__title {
    font-size: 20px;
    color: var(--blue-haze);
    letter-spacing: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
    flex-flow: row;
    margin-bottom: 33px;
  }

  &__more {
    align-self: normal;
  }

  &__table {
    display: table;
    width: 100%;
    border-collapse: collapse;

    &--head {
      display: table-row;
      background: rgba(66, 75, 95, 0.18);
      color: var(--black-squeeze);
    }

    &--head &--cell {
      color: var(--black-squeeze);
    }

    &--row {
      display: table-row;
      border-bottom: 1px solid rgba(25, 29, 40, 0.51);

      &:hover {
        background-color: var(--ebony-clay);
      }
    }

    &--cell {
      display: table-cell;
      padding: 16px;
      font-size: 14px;
      font-weight: 200;
      color: var(--gull-gray);
      vertical-align: middle;

      &--name {
        display: flex;
        align-items: center;
      }

      & img {
        margin-right: 10px;
      }

      &:first-child {
        color: var(--black-squeeze);
      }

      &.status-completed {
        color: var(--malibu);
      }

      &.status-started {
        color: var(--black-squeeze);
      }

      &.status-pending {
        color: var(--heliotrope);
      }

      &.status-canceled {
        color: var(--pomegranate);
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
    flex-flow: row;
    margin-top: 15px;

    &--pages {
      font-size: 12px;
      color: var(--gull-gray);
    }

    &--button {
      font-size: 12px;
      color: var(--dodger-blue);
      background: none;
      border: 0;
      cursor: pointer;

      &:hover {
        opacity: .7;
      }

      &.button-disabled,
      &.button-disabled:hover {
        cursor: default;
        color: var(--blue-haze);
        opacity: 1;
      }
    }
  }
}

.info-icon {
  background: url('../img/info.svg') no-repeat;
  width: 16px;
  height: 16px;
  transition: all .3s ease-out .1s;
  display: inline-block;
  cursor: pointer;
  border: 0;
  background-color: transparent;

  &:hover {
    transition: all .3s ease-in;
    opacity: .6;
  }
}

.refresh-icon {
  background: url('../img/refresh.svg') no-repeat;
  display: inline-block;
  width: 16px;
  height: 17px;
  transition: all .3s ease-out .1s;
  cursor: pointer;
  border: 0;
  background-color: transparent;

  &:hover {
    transition: all .3s ease-in;
    opacity: .6;
  }
}

.more-icon {
  background: url('../img/more.svg') no-repeat center;
  display: inline-block;
  width: 26px;
  height: 20px;
  transition: all .3s ease-out .1s;
  cursor: pointer;
  border: 0;
  background-color: transparent;

  &:hover {
    transition: all .3s ease-in;
    opacity: .6;
  }
}

.medium-widgets__score {
  padding: 16px 16px 21px 16px;
  position: relative;

  &__title {
    font-size: 20px;
    color: var(--blue-haze);
  }

  &__dynamic {
    font-size: 14px;
    position: absolute;
    bottom: 39px;

    &--grow {
      color: var(--lima);
    }

    &--drop {
      color: var(--red-orange);
    }
  }

  &__period {
    font-size: 11px;
    color: var(--blue-haze);
    bottom: 21px;
    position: absolute;
  }

  &__image {
    position: absolute;
    right: 5px;
    bottom: 20px;
  }
}

.widget-title {
  font-size: 20px;
  color: var(--blue-haze);
  letter-spacing: 0;
}

.latest-commits {
  padding: 0;
  position: relative;

  &__footer-link {
    font-size: 12px;
    color: #3491F8;
    position: absolute;
    bottom: 24px;
    left: 24px;
    cursor: pointer;
    transition: 1s;

    &:hover {
      opacity: .7;
    }
  }
}

.commits-table {
  display: table;
  width: 100%;
  font-size: 14px;
  margin-bottom: 13px;
  position: relative;

  &__row {
    display: table-row;
    list-style-type: none;
    height: 38px;
    line-height: 38px;

    &:nth-child(odd) {
      background-color: rgba(246, 249, 252, 0.03);
    }

    &::after {
      background-image: url('../img/loader.gif');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100px;
      width: 38px;
      height: 38px;
      display: none;
      position: relative;
      content: '';
      left: -155%;
      transition: all .5s ease-out;
      opacity: 0;
    }
    &--loading::after {
      display: block;
      transition: all .5s ease-in;
      opacity: 1;
    }
  }

  &__cell {
    display: table-cell;
    max-width: 205px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--blue-haze);
    padding: 0 24px;

    &--message {
      cursor: pointer;
      transition: all .2s ease-out;

      &:hover {
        color: var(--pattens-blue);
      }
    }

    &--time {
      color: var(--slate-gray);
      text-align: center;
      white-space: nowrap;
    }

    &--icon-arrow-right {
      text-align: right;
      transition: all .2s ease-out;

      &:hover {
        padding: 0 20px 0 24px;
      }
    }
  }
}

.cell-link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.right-arrow {
  display: inline-block;
  background: url('../img/right_arrow.svg');
  width: 9px;
  height: 13px;
}

.medium-widgets__banner {
  background: url('../img/blog_background.svg');
  position: relative;

  &__header {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.66);
    margin-bottom: 13px;
  }

  &__title {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    color: #97D4F0;
    margin-bottom: 15px;
    max-width: 128px;
  }

  &__link {
    font-size: 12px;
    color: #51FBEC;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }

  &__image {
    position: absolute;
    bottom: 26px;
    right: 26px;
  }
}

.block-header {
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  &__icon-wrapper {
    display: inline-block;

    &__icon {
      margin-right: 16px;
    }

    &__icon:last-child {
      margin-right: 0;
    }
  }

  &--medium {
    padding: 0 0 29px 0;
  }
}

.dynamic-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4px;

  &--grow {
    background: url(../img/dynamic_icon_grow.svg);
  }

  &--drop {
    background: url(../img/dynamic_icon_drop.svg);
    transform: rotate(90deg);
  }
}