@import "./variables.css";

body {
  font-family: Helvetica;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--ebony-clay);
}

nav {
  height: 60px;
  width: 100%;
  background-image: linear-gradient(135deg, var(--venice-blue) 0%, var(--catalina-blue) 100%);
  box-shadow: 0 3px 10px -8px rgba(0,0,0,0.24);
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center; 

  & .content {
    color: var(--polo-blue);
    width: var(--default-width);

    & a {
      margin-right: 30px;
      position: relative;
    }

    & :last-child {
      margin-right: 0;
    }

    & .checked,
    & a:hover {
      color: var(--pattens-blue);
      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 3px;
        top: 36px;
        left: calc(50% - 10px);
        border-radius: 1.5px;
        background-color: var(--hawkes-blue);
      }
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  position: relative;
  bottom: 0px;
  height: 84px;
  width: 100%;
  background-color: var(--ebony-clay-light);
  font-size: 16px;
  color: var(--slate-gray);
  letter-spacing: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center; 

  & .content {
    width: var(--default-width);
    display: flex;
    justify-content: space-between; 
    & a {
      margin-right: 30px;
    }
    & :last-child {
      margin-right: 0;
    } 
  }

  & .links-container {
    display: inline-block;
  }

  & .description .author-link {
    color: #3491F8;
  }
}

.header {
  color: var(--alto);

  &__wrapper {
    width: var(--default-width);
    height: 75px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

  &__rightside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
  }

  &__leftside {
    display: flex;
    justify-content: space-between;
  }



  &__button {
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 0;
    cursor: pointer;

    &--messages {
      background: url('../img/message.svg') no-repeat center;
    }

    &--notifications-button {
      background: url('../img/notification.svg') no-repeat center;
    }

    &--grid-button {
      background: url('../img/grid.svg') no-repeat center;
    }

    &--menu-toggle {
      background: url('../img/menu.svg') no-repeat center;
      margin-left: 60px;
    }
  }

  &__profile {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &--title {
      padding: 0 10px 0 5px;
    }

    &--arrow {
      font-size: 20px;
      width: 12px;
      height: 6px;
      display: inline-block;
      position: relative;
      margin: 0 3px;
  
      &:after, 
      &:before {
        content: '';
        top: 3px;
        position: absolute;
        width: 7px;
        height: 1px;
        background-color: var(--gallery);
        display: inline-block;
        transition: all .2s ease;
      }
      
      &:after {
        left: 0;
        transform: rotate(45deg);
      }
  
      &:before {
        right: 0;
        transform: rotate(-45deg);
      }
    }
  
    &:hover &--arrow {
      &:after {
        left: 0;
        transform: rotate(-45deg);
      }
  
      &:before {
        right: 0;
        transform: rotate(45deg);
      }
    }
  }
}

.page-title {
  height: 66px;
  width: var(--default-width);
  margin: 48px auto 36px;
  border-bottom: 1px solid rgba(66,75,95,0.38);

  & header {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 24px;
    color: var(--gull-gray);
    letter-spacing: 0;
    font-weight: 400;
    margin: 0;

    span {
      font-size: 12px;
      color: var(--slate-gray);
      letter-spacing: 0;
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px;
    }
  }

  & .breadcrumbs {
    margin: 29px 0 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    font-size: 16px;
    color: var(--gull-gray);
    letter-spacing: 0;
    text-align: right;
    font-weight: 100;
    /* text-shadow: 0 2px 4px rgba(0,0,0,0.50); */

    &__item {
      a:hover {
        color: var(--alto);
      }
    }
  }
}

.small-widgets {
  margin: 36px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: var(--default-width);
  column-gap: 28px;
 
  &__item {
    height: 102px;
    background-color: var(--ebony-clay-light);
    color: var(--gull-gray);
    letter-spacing: 0;
    box-sizing: border-box;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
    flex-flow: column;
    box-shadow: 0 5px 10px -10px rgba(0,0,0,0.50);
    border-radius: 4px;
    transition: all .3s ease-out .1s;

    &:hover {
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.60);
      transition: all .3s ease-in;
    }

    &&--arrows {
      background-image: url('../img/widget_arrows.png');
    }
    
    &&--repair {
      background-image: url('../img/widget_repair.png');
    }
    
    &&--clock {
      background-image: url('../img/widget_clock.png');
    }
    
    &&--dollar {
      background-image: url('../img/widget_dollar.png');
    }
  }

  &__title {
    font-size: 14px;
    display: block;
    text-transform: uppercase;
  }
  
  &__value {
    font-size: 26px; /* 28px */
    color: var(__blue-haze);
    line-height: 26px; /* 28px */
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
  }
  
  &__badge {
    font-size: 14px; /* 16px */
    color: var(--white);
    line-height: 16px;
    padding: 4px 10px;
    display: inline-block;
    font-weight: 200;
    border-radius: 11.5px;
    vertical-align: middle;
  
    &&--positive {
      background-color: var(--lima);
    }
  
    &&--negative {
      background-color: var(--red-orange);
    }
  }
  
  &__progressbar {
    width: 152px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--botticelli);
    display: inline-block;
    position: relative;
    vertical-align: bottom;
  
    &:after {
      display: inline-block;
      position: absolute;
      content: '';
      background-color: var(--dodger-blue);
      width: 72%;
      height: 8px;      
      border-radius: 4px;
      transition: 0.3s all linear;
      animation: progress 3s ease-in-out forwards;
    }
  }
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 72%;
  }
}