@import "../../css/variables.css";
@import "normalize.css";

.body {
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  color: var(--blue-haze);
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--ebony-clay);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
