.table {
  display: table;
  width: 100%;
  font-size: 14px;
  margin-bottom: 13px;
  position: relative;
}

.row {
  display: table-row;
  list-style-type: none;
  height: 38px;
  line-height: 38px;

  &:nth-child(odd) {
    background-color: rgba(246, 249, 252, 0.03);
  }

  &::after {
    background-image: url('../../img/loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px;
    width: 38px;
    height: 38px;
    display: none;
    position: relative;
    content: '';
    left: calc(50% - 19px);
    transition: all .5s ease-out;
    opacity: 0;
  }

  &.loading::after {
    display: block;
    transition: all .5s ease-in;
    opacity: 1;
  }
}

.cell {
  display: table-cell;
  max-width: 205px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--blue-haze);
  padding: 0 24px;
  box-sizing: border-box;
}
  
.message {
  cursor: pointer;
  transition: all .2s ease-out;

  &:hover {
    color: var(--pattens-blue);
    transition: all .3s ease-in;
  }
}

.time {
  color: var(--slate-gray);
  text-align: center;
  white-space: nowrap;
}

.icon-arrow-right {
  text-align: right;
  transition: all .2s ease-out;

  &:hover {
    padding: 0 20px 0 24px;
    transition: all .3s ease-in;
  }
}

.cell-link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}


.right-arrow {
  display: inline-block;
  background: url('../../img/right_arrow.svg');
  width: 9px;
  height: 13px;
}

 