.container {
  grid-column: 2;
  composes: largeItem from "../MainWrapper/MainWrapper.css";
}

.footer-link {
  font-size: 12px;
  color: #3491F8;
  position: absolute;
  bottom: 24px;
  left: 24px;
  cursor: pointer;
  transition: all .3s ease-out;

  &:hover {
    opacity: .7;
    transition: all .3s ease-in;
  }
}