.profile {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0;
  background: transparent none;
  color: var(--alto);
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

.title {
  padding: 0 10px 0 5px;
}

.arrow {
  display: inline-block;
  background: url('../../img/down_arrow.svg');
  width: 11px;
  height: 6px;
}

.open {
  transform: rotate(180deg);
}
