.footer {
  position: relative;
  bottom: 0px;
  height: 84px;
  width: 100%;
  background-color: var(--ebony-clay-light);
  font-size: 16px;
  color: var(--slate-gray);
  letter-spacing: 0;
}

.container {
  display: inline-block;
}
