.button {
  width: 25px;
  height: 25px;
  display: inline-block;
  border: 0;
  cursor: pointer;
}

.menu-toggle {
  background: url('../../img/menu.svg') no-repeat center;
  margin-left: 60px;
}

.message {
  background: url('../../img/message.svg') no-repeat center;
}

.notification {
  background: url('../../img/notification.svg') no-repeat center;
}

.grid {
  background: url('../../img/grid.svg') no-repeat center;
}


.info {
  background: url('../../img/info.svg') no-repeat;
  width: 16px;
  height: 16px;
  transition: all .3s ease-out .1s;
  display: inline-block;
  cursor: pointer;
  border: 0;
  background-color: transparent;

  &:hover {
    transition: all .3s ease-in;
    opacity: .6;
  }
}

.refresh {
  background: url('../../img/refresh.svg') no-repeat;
  display: inline-block;
  width: 16px;
  height: 17px;
  transition: all .3s ease-out .1s;
  cursor: pointer;
  border: 0;
  background-color: transparent;

  &:hover {
    transition: all .3s ease-in;
    opacity: .6;
  }
}

.more {
  background: url('../../img/more.svg') no-repeat center;
  display: inline-block;
  width: 26px;
  height: 20px;
  transition: all .3s ease-out .1s;
  cursor: pointer;
  border: 0;
  background-color: transparent;

  &:hover {
    transition: all .3s ease-in;
    opacity: .6;
  }
}
