.plain {
  text-decoration: none;
  color: inherit;
}

.navigation {
  composes: plain;
  margin-right: 30px;
  position: relative;
  transition: all .2s ease-out;
  pointer-events: all;

  &:hover {
    color: var(--pattens-blue);
    transition: all .3s ease-in;
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      top: 36px;
      left: calc(50% - 10px);
      border-radius: 2px;
      background-color: var(--hawkes-blue);
    }
  }
}

.footer {
  composes: plain;
  margin-right: 30px;
  transition: all .2s ease-out;

  &:hover {
    color: var(--pattens-blue);
    transition: all .3s ease-in;
  }
}

.author {
  composes: plain;
  color: var(--alt-dodger-blue);
  cursor: pointer;
  transition: all .3s ease-out;

  &:hover {
    opacity: .7;
    transition: all .3s ease-in;
  }
}

.breadcrumb {
  composes: plain;
  transition: all .3s ease-in;

  &:hover {
    color: var(--alto);
    transition: all .3s ease-in;
  }
}

.view-all {
  composes: plain;
  font-size: 12px;
  color: var(--alt-dodger-blue);
  cursor: pointer;
  transition: all .3s ease-out;

  &:hover {
    opacity: .7;
    transition: all .3s ease-in;
  }
}

.read-more {
  composes: plain;
  font-size: 12px;
  color: var(--aquamarine);
  cursor: pointer;
  transition: all .3s ease-out;

  &:hover {
    opacity: .7;
    transition: all .3s ease-in;
  }
}

.icon-item {
  composes: plain;
  height: 98px;
  width: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  &:hover {
    background: rgba(25, 29, 40, 0.35);
    border-radius: 4px;
  }
}
