.plain {
  text-decoration: none;
  color: inherit;
}

.footer {
  composes: plain;
  margin-right: 30px;
  transition: all .2s ease-out;

  &:hover {
    color: var(--pattens-blue);
    transition: all .3s ease-in;
  }
}

.author {
  composes: plain;
  color: var(--alt-dodger-blue);
  cursor: pointer;
  transition: all .3s ease-out;

  &:hover {
    opacity: .7;
    transition: all .3s ease-in;
  }
}

.view-all {
  composes: plain;
  font-size: 12px;
  color: var(--alt-dodger-blue);
  cursor: pointer;
  transition: all .3s ease-out;

  &:hover {
    opacity: .7;
    transition: all .3s ease-in;
  }
}

.read-more {
  composes: plain;
  font-size: 12px;
  color: var(--aquamarine);
  cursor: pointer;
  transition: all .3s ease-out;

  &:hover {
    opacity: .7;
    transition: all .3s ease-in;
  }
}

.icon-item {
  composes: plain;
  height: 98px;
  width: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  &:hover {
    background: rgba(25, 29, 40, 0.35);
    border-radius: 4px;
  }
}
